name: scgateway_flutter_plugin_example
description: The scgateway_flutter_plugin is used to communicate with the smallcase Gateway SDK.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
#publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  scgateway_flutter_plugin:
    path: ../
#scgateway_flutter_plugin:
#  git:
#    url: https://github.com/smallcase/gw-mob-sdk-flutter.git
#    ref: db441fde09520f989b459407e67d7877a118fbb7 # branch name


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.0
  chopper: ^4.0.0
  provider: ^5.0.0
  json_annotation: ^4.0.1
  logging: ^1.0.1
#  http: ^0.12.0+1
  http: ^0.13.3
  clipboard: ^0.1.3
#  scgateway_flutter_plugin:
#    git:
#      url: https://github.com/smallcase/gw-mob-sdk-flutter
#      ref: ankit/dummy-github-release


dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner: ^2.0.6
  chopper_generator: ^4.0.1
  json_serializable: ^4.1.4
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
