.DS_Store
.dart_tool/

.packages
.pub/
.idea/*
.idea/**
.idea/workspace.xml
pubspec.lock

build/

.vscode

.flutter-plugins
.flutter-plugins-dependencies

.node_modules/*
.node_modules
.idea/workspace.xml

# FVM Version Cache
.fvm/