.DS_Store
.dart_tool/
.gradle/

.packages
.pub/
.idea/*
.idea/**
.idea/workspace.xml
pubspec.lock

build/

.fvm/flutter_sdk
.fvm
.vscode

.flutter-plugins
.flutter-plugins-dependencies


.node_modules/*
.node_modules
.idea/workspace.xml
